@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap');

* {
  box-sizing: border-box;
}

/* BACKGROUND */
body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(270deg, #1b1b3a, #0f1020, #2a0845);
  background-size: 600% 600%;
  animation: bgMove 12s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Orbitron', sans-serif;
  color: white;
}

@keyframes bgMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* MAIN WRAPPER (BIG) */
.game-wrapper {
  display: flex;
  width: 1000px;
  height: 520px;
  background: #0f1020;
  border-radius: 30px;
  box-shadow:
    0 0 40px #ff4d6d,
    0 0 80px rgba(255, 77, 109, 0.4);
}

/* PANELS */
.panel {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  background: rgba(0, 0, 0, 0.45);
}

.right {
  background: radial-gradient(circle, #1c1d3a, #0f1020);
  align-items: center;
}

/* TITLE */
h1 {
  margin-bottom: 35px;
  text-align: center;
  letter-spacing: 2px;
  font-size: 36px;
  text-shadow: 0 0 14px #ff4d6d;
}

/* INPUTS */
input {
  padding: 16px;
  margin: 12px 0;
  border-radius: 12px;
  border: none;
  background: #1c1d3a;
  color: white;
  font-size: 18px;
}

input::placeholder {
  color: #aaa;
}

/* BUTTON */
button {
  margin-top: 30px;
  padding: 16px;
  border-radius: 40px;
  border: none;
  background: linear-gradient(90deg, #ff4d6d, #ff9a8b);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 8px 0 #b93752;
}

button:active {
  transform: translateY(5px);
  box-shadow: 0 3px 0 #b93752;
}

/* RESULT */
.result {
  font-size: 44px;
  text-align: center;
  transform: scale(1);
}


.result.show {
  animation: pop 0.6s ease;
}

@keyframes pop {
  0% {
    transform: scale(0.7);
  }
  60% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

/* PLAY AGAIN */
.play-again {
  margin-top: 40px;
  padding: 16px 36px;
  font-size: 20px;
  border-radius: 40px;
  border: none;
  background: linear-gradient(90deg, #00f5d4, #4ddcff);
  color: #000;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 8px 0 #00a896;
}

.play-again:active {
  transform: translateY(5px);
  box-shadow: 0 3px 0 #00a896;
}

.hidden {
  display: none;
}

/* RESULT COLORS */
.friend { color: #4ddcff; text-shadow: 0 0 20px #4ddcff; }
.love { color: #ff4d6d; text-shadow: 0 0 20px #ff4d6d; }
.affection { color: #ff9a8b; text-shadow: 0 0 20px #ff9a8b; }
.marriage { color: #ffd700; text-shadow: 0 0 25px #ffd700; }
.enemy { color: #ff0000; text-shadow: 0 0 20px #ff0000; }
.sibling { color: #00f5d4; text-shadow: 0 0 20px #00f5d4; }
